.bg-img {
    /* this is needed or the background will be offset by a few pixels at the top */
    overflow: auto;
    position: relative;
}

.bg-img::before {
    content: "";
    position: fixed;
    left: -5%;
    top: -5%;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('./../images/playingchess.jpg');
    background-size: cover;
    width: 110%;
    height: 110%;

    filter: blur(10px) brightness(0.5);
}

.centre-bg {
    background-color: rgba(76, 74, 82, 0.8);
    width: 70%;
    margin: auto;
}

.centre-text {
    width: 90%;
    text-align: center;
}